  body {
     font-family: Arial, sans-serif; 
     color: white;
    }
  .album {
     margin-bottom: 1.25rem; 
    }
  .album-cover {
     width: 6.25rem; 
    }
  .song {
     margin-left: 1.25rem; 
    }
#albumList{
    background: linear-gradient(rgb(49, 119, 8), rgb(0, 0, 0));
    padding: 1rem;
}

.artist-img{
    width: 1.25rem;
    margin-top: 1rem;
    border-radius: 3.125rem;
}

