h3 {
  text-align: center;
  font-size: 36px;
}
#username,
#password {
  padding: 15px;
  width: 350px;
}

input::placeholder {
  font-size: 15px;
}

button {
  padding: 20px;
  font-size: 15px;
}

#message {
  font-size: 18px;
}
