body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* iskoristeno e property-to user-select za da nemoze userot da selektira so mouse-ot po sodrzinata na kalkulatorot */
  user-select: none;
  background: #ecf0f3;
}

.container {
  background-color: #ecf0f3;
  margin-left: 1.8em;
  padding: 20px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}

.row button {
  width: 60px;
  height: 60px;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 6.5px;
  border-radius: 50%;
  transition: 0.1s;
  box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffff;
}

.row button:hover {
  box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -5px -5px 8px #fff;
  background: #fafafa;
}

/* css za display-ot kade se pisuvaat brojkite */
.display #screen {
  margin-bottom: 0.5em;
  width: auto;
  height: 85px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5em;
  background-color: #ecf0f3;
  border-radius: 30px;
  box-shadow: inset -5px -5px 12px #ffff, inset 5px 5px 12px rgba(0, 0, 0, 0.16);
}

#equal {
  background-color: #406170;
  color: #fff;
}

#equal:hover {
  box-shadow: inset 5px 5px 8px #638291, inset -5px -5px 8px #638291;
}

#ac {
  background-color: #788c64;
  color: #fff;
}

#ac:hover {
  box-shadow: inset 5px 5px 8px #97ad81, inset -5px -5px 8px #97ad81;
}

#ce {
  background-color: #aa698d;
  color: #fff;
}

#ce:hover {
  box-shadow: inset 5px 5px 8px #bb93a8, inset -5px -5px 8px #bb93a8;
}
